---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 25 2024')}
	heroImage="/portada_3.jpg"
>
	<h4>Nuestra historia</h4>
	<p>
		A Lizmairy Ventura, la dueña de la marca, le apasionaban mucho los bolsos de marcas lujosas 
		como Louis Vuitton, Chanel, Dior y muchas otras marcas de lujo, era su sueño poder tener una 
		marca de bolsos lujosa, y cuando tuvo la oportunidad no la desaprovechó y creo su marca a la 
		que nombró Kintsugi el 13 de abril del 2022.
	</p>

	<h4>Significado de Kintsugi</h4>
	<p>
		Kintsugi es una palabra japonesa que se trata de la practica de reparar objetos de cerámica 
		rotos con laminas de oro, convirtiéndolos en algo nuevo y valioso. En muchos sentidos la palabra 
		Kintsugi representa la idea de que aunque las personas y las cosas puedan romperse, siempre es 
		posible reconstruirlas y hacerlas más fuertes que antes.
	</p>
	<p>
		Este nombre le fue dado a la marca con la intención de que las personas al utilizar nuestros 
		productos se sientan renovadas y que se sientan valiosas así como renovamos una cerámica rota con oro.
	</p>
</Layout>
