---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.portada {
				margin-bottom: 5rem;
				width: 100%;
				background-color: #220404;
				border-radius: 2rem;
				text-align: center;
				padding: 2rem 0
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="portada">
				<img src="/portada.jpg" alt="imagen de portada">
			</div>
			<h2>{SITE_DESCRIPTION}</h2>
			<p>
				¡Hola a todos los amantes de la moda! Bienvenidos a nuestro vlog de bolsos de nuestra marca Kintsugi, 
				donde exploramos los accesorios más sofisticados y deseados del mundo. Hoy vamos a sumergirnos en el 
				fascinante universo de los bolsos de lujo de nuestra marca, esos íconos de estilo y elegancia que no 
				solo complementan nuestros atuendos, sino que también cuentan una historia de artesanía y exclusividad.
			</p>
			<p>
				Así que prepárense para descubrir las maravillas del diseño y la moda de Kintsugi, mientras desglosamos 
				todo lo que necesitan saber sobre nuestros bolsos de lujo: historia, diseño, materiales y, por supuesto, 
				cómo llevarlos con estilo. ¡No se lo pierdan!
			</p>
		</main>
		<Footer />
	</body>
</html>
